services:
  - type: web
    name: lotto-ai
    runtime: docker
    plan: starter
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.8
      - key: RENDER
        value: true
      - key: PORT
        value: 10000
